@import "tailwindcss";

  @theme{
    --color-primarywhite: #ffffffcd;
    --color-primaryblue: #2b26c5;
    --color-secondaryblue: #376df5;
    --color-primarygray: #787777;
    --color-secondarygray: #23222f;
    --color-tertiarygray: #35334e;
    --color-primarygradient: linear-gradient(45deg, #37368f, #4a70d0); 
    --color-tertiarygradient: linear-gradient(45deg, #4a70d0, #37368f);
    --color-secondarygradient: linear-gradient(to bottom, #456ac6, #2b26c5);
  }

  @font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  }